@use "sass:color";
@use "./colours" as c;

@mixin button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: normal;

  font-size: 0.8em;
  cursor: pointer;
  background-color: c.$primary-light;
  color: c.$primary-dark;
  border: 2px solid c.$primary-dark;
  padding: 4px 8px;

  transition: ease-in-out background-color 0.1s;

  &:hover {
    background-color: color.adjust(c.$primary-light, $lightness: -10%);
    // color: color.adjust(colours.$primary-dark, $lightness: -10%);

    // box-shadow: 2px 2px 0px c.$primary-dark;
    // transform: translate(-2px, -2px); // Subtle lift when active
  }
}
