button {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: $grey;
  cursor: pointer;
  transition:
    background-color 0.5s,
    color 0.5s;

  &.selected {
    background-color: $green;
    color: white;
    border-color: $green;
  }

  &:not(.selected):hover {
    background-color: color.adjust($grey, $lightness: -10%);
  }

  &:is(.selected):hover {
    background-color: color.adjust($green, $lightness: -10%);
  }
}
