@use "../styles/mixins" as mx;
@use "../styles/colours" as c;
@use "sass:color";

.entry {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 5px;

  border: 2px solid c.$primary-dark;

  > div:nth-child(2) {
    > div {
      margin: 1em 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      gap: 5px;

      button {
        @include mx.button;

        background-color: c.$primary-dark;
        color: c.$primary-light;
        cursor: default;

        &:hover {
          background-color: c.$primary-dark;
          color: c.$primary-light;
        }
      }
    }
  }
  > div:nth-child(4) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

    > div:nth-child(1) {
      display: flex;
      gap: 1em;
      // button {
      //   @include mx.button;
      // }
    }
    > div:nth-child(2) {
      display: flex;
      flex-direction: column;
      span {
        font-size: x-small;
      }
    }
  }
}

p {
  font-size: 0.8em;
  color: c.$primary-dark;
}

h5 {
  margin: 0 0 1em 0;
  color: c.$primary-dark;
}

.icon {
  width: 1.1em;
  height: auto;
  color: color.adjust(c.$primary-light, $lightness: -10%);
  cursor: pointer;
  padding: 0 0 0 10px;

  &:hover {
    color: c.$primary-dark;
  }
}
