@use "../styles/colours" as c;
@use "sass:color";

.container {
  div {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;

    .icon {
      cursor: pointer;
    }
  }

  textarea {
    width: 100%;
    max-width: 800px;
    padding: 8px;

    border: 2px solid c.$primary-dark;
    background-color: c.$primary-light;
    color: c.$primary-dark;

    outline: none;
    transition:
      border-color 0.2s,
      box-shadow 0.2s;

    box-sizing: border-box;

    // &:focus {
    //   border-color: colours.$primary-dark;
    //   box-shadow: 0 0 0 2px rgba(40, 38, 44, 0.15);
    // }

    &:focus {
      // Instead of a soft glow, let's do a hard "Sticker" shadow
      box-shadow: 6px 6px 0px c.$primary-dark;
      transform: translate(-2px, -2px); // Subtle lift when active
    }

    // &:focus-visible {
    //   /* Optional for accessibility: shows focus ring for keyboard users only */
    //   box-shadow: 0 0 0 2px rgba(40, 38, 44, 0.2);
    // }
  }
}
