@use "../styles/colours" as c;
@use "../styles/animation" as a;

@use "sass:color";

.container {
  div {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;

    .icon {
      cursor: pointer;
    }
  }

  textarea {
    width: 100%;
    max-width: 800px;
    padding: 8px;

    border: 2px solid c.$primary-dark;
    background-color: c.$primary-light;
    color: c.$primary-dark;

    outline: none;
    box-sizing: border-box;

    @include a.box-selection(0, 0);
    transition: a.$box-selection-animation;

    &:focus {
      @include a.box-selection(5px, -2px);
    }
  }
}

.icon {
  color: c.$primary-dark;
  cursor: pointer;
  height: 1.3em;
  width: auto;
}
