@use "./styles/colours" as c;

html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: c.$primary-light;

  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;

  font-family: "Lexend", sans-serif;
  font-size: 1em;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center; /* centers main horizontally */
  min-height: 100vh; /* ensures footer at bottom */
  gap: 1em;
}

main {
  width: 95%;
  max-width: 800px; /* optional, limits content width */
}

header,
footer {
  display: flex;
  align-items: center;
  width: 100%; /* or just remove width */
  max-width: 800px;
  min-height: 50px;

  background-color: c.$primary-dark;
  color: c.$primary-light;

  a {
    color: c.$primary-light;
    text-decoration: none;
    padding-right: 2em;

    &:hover {
      font-weight: bold;
    }
  }
}
